@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');

.carouselImg {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'roboto', sans-serif;
}

.card, .cardLogin {
    min-height: 18rem;
    background-color: #f8f9fa;
    margin: 0 9rem 7rem 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #000;
    border-radius: 8px;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}

.cardLogin{
    width: 70%;
    margin: 0 0;
    padding: 10px 0;
}

.cardFilmes {
    background-color: #f8f9fa;
    margin: 250px 30px 180px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cardFilmes span {
    font-size: 2.2rem;
}

.filmesBox {
    margin: 30px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.filmesBox img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.filmesBox img:hover {
    transform: scale(1.2);
}

img {
    transition: transform 0.25s ease;
}

.cardMissao {
    min-height: 18rem;
    background-color: #f8f9fa;
    margin: 0 9rem 7rem 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    color: #000;
    border-radius: 8px;
    padding: 27px;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    text-align: justify;
}

.cardMissao ul li {
    font-size: 2.7rem;
    list-style: none;
}

.cardMissao p {
    font-size: 1.12rem;
    font-weight: 400;
}


.cardProduto {
    height: 18rem;
    width: 60%;
    background-color: #f8f9fa;
    margin: 0 9rem 7rem 9rem;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-evenly;
    color: #000;
    border-radius: 8px;
}

.cardHistory {
    height: auto;
    background-color: #f8f9fa;
    margin: 0 9rem 7rem 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #000;
    border-radius: 8px;
    padding: 27px;
    font-family: 'roboto', sans-serif;
    text-align: justify;
}

.mainProduto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardProduto img{
    width: 384px;
    height: 216px;
}

.imgProduto{
    width: 384px;
}

.especProduto{
    width: 40%;
    height: 236px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.especProduto p{
    margin: 0 0;
}

.descProduto{
    font-size: 14px;
    text-align: left;
}

.mainLogin{
    height: 100%;
    width: 100%;
    margin: 0 0 7rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.mainLogin h1{
    margin: 5rem 0 5rem 0 ;
}

.card ul li {
    list-style: none;
    margin: 15px 0 15px 0;
}

.imgs {
    display: flex;
}

.card ul {
    margin: 0;
}

.card img {
    height: 28px;
}